*.DS_Store

.idea/
.vscode/
*__pycache__*
*.egg-info/

dist/

# virtual environments
.venv/

assets/

# experiments
log/
experiments/estate/
experiments/imdb/
experiments/steam/
experiments/*.pdf
experiments/*.svg
experiments/*.ipynb

