*.DS_Store

*.so
.idea/
.vscode/
*__pycache__*
*.egg-info/

dist/

# vibe coding
.agent/

# virtual environments
.venv/

assets/

# experiments
log/
experiments/estate/
experiments/imdb/
experiments/steam/
experiments/*.pdf
experiments/*.svg
experiments/*.ipynb

# MkDocs
site/

# Rust
target/