site_name: Nirvana
site_description: An LLM-powered semantic data analytics programming framework
site_url: https://junhao-zhu.github.io/nirvana/

repo_name: JunHao-Zhu/nirvana
repo_url: https://github.com/JunHao-Zhu/nirvana

docs_dir: "docs/"

nav:
  - Get Started: index.md
  - API Reference:
      - DataFrame: api/frame/dataframe.md
      - Operators:
          - map: api/ops/map.md
          - filter: api/ops/filter.md
          - rank: api/ops/rank.md
          - join: api/ops/join.md
          - reduce: api/ops/reduce.md
      - Optimizer: api/optimizer/optimizer.md
      - Executor:
          - LLM: api/executor/llm.md
          - Tools: api/executor/tools.md
  - Concepts:
      - Data Lineage: concepts/data_lineage.md
      - Operators: concepts/operators.md
      - Optimizers:
          - Logical Optimizer: concepts/optimizers/logical_optimizer.md
          - Physical Optimizer: concepts/optimizers/physical_optimizer.md

theme:
  name: material
  palette:
    # Light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
      primary: white
      accent: black
    # Dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
      primary: black
      accent: lime
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - navigation.indexes
    - navigation.instant
    - navigation.tracking
    - search.highlight
    - search.share
    - content.code.copy
    - content.code.annotate
  icon:
    repo: fontawesome/brands/github
    logo: material/rocket-launch

extra_css:
  - stylesheets/extra.css

plugins:
  - search:
      lang: en
      separator: '[\s\-\.]+'
  - mkdocstrings:
      handlers:
          python:
              options:
                  docstring_style: google
                  show_source: true
                  show_root_heading: true
                  heading_level: 3
                  members_order: source
                  separate_signature: false
                  show_category_heading: true
                  show_symbol_type_heading: true
                  show_docstring_parameters: true
                  show_if_no_docstring: true
                  show_signature_annotations: true
                  unwrap_annotated: true
                  annotations_path: brief
                  docstring_section_style: table
                  merge_init_into_class: true
                  rendering:
                      show_if_no_docstring: true
                      show_warnings: false
                      html_meta: false
  - mkdocs-jupyter:
      ignore_h1_titles: true

markdown_extensions:
    - toc:
        permalink: true
        toc_depth: 3
    - pymdownx.tabbed:
        alternate_style: true
    - pymdownx.highlight:
        anchor_linenums: true
    - pymdownx.inlinehilite
    - pymdownx.snippets
    - admonition
    - pymdownx.arithmatex:
        generic: true
    - footnotes
    - pymdownx.details
    - pymdownx.superfences
    - pymdownx.mark
    - attr_list
    - md_in_html
    - pymdownx.emoji:
        emoji_index: !!python/name:material.extensions.emoji.twemoji
        emoji_generator: !!python/name:material.extensions.emoji.to_svg
