name: Update nirvana docs

on:
  push:
    branches:
      - dev
    paths:
      - "docs/**"
  pull_request:
    paths:
      - "'docs/**'"

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          enable-cache: true
          cache-dependency-glob: uv.lock

      - name: Install Python with uv
        run: uv python install 3.12
      
      - name: Install dependencies
        run: |
          cd docs
          uv pip install -r requirements.txt --system
      
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: ~/.cache 
          restore-keys: |
            mkdocs-material-
      
      - name: Build documentation
        run: nv run mkdocs build
      
      - name: Deploy to GitHub Pages
        run: nv run mkdocs gh-deploy --force
